<template>
    <fragment>
        <tool-radio-button
                title="Texte"
                tooltip="Créer une zone de texte"
                icon-class="fa fa-font"
                input-value="text"
                :shape-class="shapeClass"/>

        <div class="position-relative" v-show="selectedTool === 'text'">
            <label for="fontSize" class="smallLabelOverSelect">Taille</label>
            <select v-model="fontSize"
                    v-show="selectedTool === 'text'"
                    class="form-control fontSizeSelect"
                    id="fontSize">
                <option v-for="size in Array.from(new Array(47), (x,i) => i + 4)" :value="size">{{size}}px
                </option>
            </select>
        </div>
        <div class="position-relative mr-2" v-show="selectedTool === 'text'">
            <label for="textFamily" class="smallLabelOverSelect">Police</label>
            <select v-model="fontFamily"
                    v-show="selectedTool === 'text'"
                    class="form-control fontFamilySelect"
                    id="textFamily">
                <option v-for="(type,family) in fontFamilies"
                        :style="'font-family:\''+family+'\' ,' + type">
                    {{family}}
                </option>
            </select>
        </div>
    </fragment>
</template>


<script>
    import Fragment from 'vue-fragment';

    Vue.use(Fragment.Plugin);

    import FONTS from '../../config/fonts';

    import ToolRadioButton from './components/ToolRadioButton'

    import {TextDrawing} from "../../classes/Drawings";
    import {CANVAS_ADD_EVENTS} from "../../../../store/mutation-types";

    const forEachTextSetSettings = function(canvas, settings) {
        canvas.forEachShapeOfType(TextDrawing, shape => {
            shape.set(settings)
        });
    };

    export default {
        components: {ToolRadioButton},
        data() {
            return {
                shapeClass: TextDrawing,
                fontFamilies: FONTS,
                fontSize: 14,
                fontFamily: 'Roboto Condensed',
            }
        },
        computed: {
            selectedTool() {
                return this.$store.state.selectedTool
            },
            canvas() {
                return this.$store.state.canvas
            }
        },
        watch: {
            /*fontSize(newFontSize) {
                forEachTextSetSettings(this.canvas, {fontSize: newFontSize});
            },
            fontFamily(newFontFamily) {
                forEachTextSetSettings(this.canvas, {fontFamily: newFontFamily});
            },*/
        },
        mounted() {
            this.$store.commit(CANVAS_ADD_EVENTS, {
                'drawing:start': (currentShapeBeingDrawn) => {
                    if (currentShapeBeingDrawn instanceof TextDrawing) {
                        currentShapeBeingDrawn.setTextSettings({
                            fontSize: this.fontSize,
                            fontFamily: this.fontFamily,
                        });
                    }
                }
            });
        }
    }
</script>