<template>
    <fragment>
        <tool-radio-button
                title="Place"
                tooltip="Dessiner une place assise"
                icon-class="fa fa-user"
                input-value="seat"
                :shape-class="shapeClass"/>

        <div class="position-relative" v-show="selectedTool === 'seat'">
            <label for="seatFontSize" class="smallLabelOverSelect">Taille</label>
            <select v-model="fontSize"
                    class="form-control fontSizeSelect"
                    id="seatFontSize">
                <option v-for="size in Array.from(new Array(47), (x,i) => i + 4)" :value="size">
                    {{size}}px
                </option>
            </select>
        </div>
        <div class="position-relative mr-2" v-show="selectedTool === 'seat'">
            <label for="seatFontFamily" class="smallLabelOverSelect">Police</label>
            <select v-model="fontFamily"
                    class="form-control fontFamilySelect"
                    id="seatFontFamily">
                <option v-for="(type,family) in fontFamilies"
                        :style="'font-family:\''+family+'\' ,' + type">
                    {{family}}
                </option>
            </select>
        </div>
    </fragment>
</template>


<script>
    import Fragment from 'vue-fragment';
    Vue.use(Fragment.Plugin);

    import FONTS from '../../config/fonts';

    import {CANVAS_ADD_EVENTS} from "../../../../store/mutation-types";

    import ToolRadioButton from './components/ToolRadioButton'

    import {SeatDrawing} from "../../classes/Drawings";
    import {SeatShape} from "../../classes/Shapes";

    const forEachSeatSetTextSettings = function (canvas, settings) {
        canvas.forEachShapeOfType([SeatDrawing, SeatShape], shape => {
            shape.setTextSettings(settings);
        });
    };

    export default {
        components: {ToolRadioButton},
        data() {
            return {
                shapeClass: SeatDrawing,
                fontFamilies: FONTS,
                fontSize: 30,
                fontFamily: 'Lato',
            }
        },
        computed: {
            selectedTool() {
                return this.$store.state.selectedTool
            },
            canvas() {
                return this.$store.state.canvas
            }
        },
        watch: {
            fontSize(newFontSize) {
                forEachSeatSetTextSettings(this.canvas, {fontSize: newFontSize});
            },
            fontFamily(newFontFamily) {
                forEachSeatSetTextSettings(this.canvas, {fontFamily: newFontFamily});
            },
        },
        mounted: function () {
            this.$store.commit(CANVAS_ADD_EVENTS, {
                'drawing:start': (currentShapeBeingDrawn) => {
                    if (currentShapeBeingDrawn instanceof SeatDrawing) {
                        currentShapeBeingDrawn.setTextSettings({
                            fontSize: this.fontSize,
                            fontFamily: this.fontFamily,
                        });
                    }
                }
            });
        }
    }
</script>