<template>
    <fragment>
        <tool-radio-button
                title="Table"
                tooltip="Dessiner une table"
                icon-class="icon icon-table"
                input-value="table"
                :shape-class="shapeClass"/>

        <div class="position-relative mr-2" v-show="selectedTool === 'table'">
            <label for="tableRadiusSelect" class="smallLabelOverSelect">Angles arrondis</label>
            <select v-model="tableBorderRadius"
                    class="form-control fontSizeSelect"
                    id="tableRadiusSelect">
                <option v-for="size in 201" v-if="!((size-1) % 4)" :value="size-1">{{size-1}}px
                </option>
            </select>
        </div>
    </fragment>
</template>


<script>
    import Fragment from 'vue-fragment';

    Vue.use(Fragment.Plugin);

    import ToolRadioButton from './components/ToolRadioButton'

    import {TableDrawing} from "../../classes/Drawings";
    import {CANVAS_ADD_EVENTS} from "../../../../store/mutation-types";

    export default {
        components: {ToolRadioButton},
        data() {
            return {
                tableBorderRadius: 0,
                shapeClass: TableDrawing
            }
        },
        computed: {
            selectedTool() {
                return this.$store.state.selectedTool
            }
        },
        mounted() {
            this.$store.commit(CANVAS_ADD_EVENTS, {
                'drawing:start': (currentShapeBeingDrawn) => {
                    if (currentShapeBeingDrawn instanceof TableDrawing) {
                        currentShapeBeingDrawn.set({
                            rx: this.tableBorderRadius,
                            ry: this.tableBorderRadius,
                        });
                    }
                }
            });
        }
    }
</script>


<style lang="scss">
    .icon {
        height: 20px;
        width: 20px;
        display: inline-block;
        position: relative;
    }

    .icon-table {
        background: url('../../img/table.png');
        top: 2px;
    }

</style>