body {
  font-size:1rem;
}

/*App.blade.php*/
.rgba-blue-strong, .rgba-blue-strong::after {
  background-color: rgba(63, 81, 181, 0.9);
}

.navbar-scroll {
  background-color: rgba(63, 81, 181, 1);
}

.navbar.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -o-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
  padding-top: 16px;
  padding-bottom: 16px;
}

.app-footer {
  background: $grey;
}

.mt-100 {
  margin-top:100px;
}

.mb-50 {
  margin-bottom:50px;
}

/********************************************************************************
 ** HOMEPAGE
 **/
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 12% !important;
}
.texte-carousel {
  font-size: 55px !important;
  font-weight: bold;
  padding-bottom: 5% !important;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  margin-bottom: 15%;
}

.try {
  position: absolute;
  right: 2%;
}

.texte {
  font-size: 15px;
  text-align: center;
  margin-top: 15%;
}

.marg {
  padding-top: 6%;
  padding-bottom: 6%;
}

.section1 {
  background-color: $grey;
}

.title {
  margin-bottom: 15%;
  font-size: 44px;
  color: white;
  font-weight: bold;
}

.accueil {
  padding-bottom: 15%;
}

.texte2 {
  text-align: center;
}

h1, .texte {
  font-weight: bold;
}


.icon {
  padding-bottom: 20px;
}
.homepage-icon-effect {
  font-size:80px;
  text-transform: uppercase;
  margin: 0;
  color: rgba(63, 81, 181, 0.4);
}


/********************************************************************************
 ** DASHBOARD
 **/

.sign-in {
  border-radius: 20px !important;
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #f5f5f5 !important;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  outline: 0;
}

.md-form {
  input {
    &[type="date"], &[type="datetime-local"], &[type="email"], &[type="number"], &[type="password"], &[type="search-md"], &[type="search"], &[type="tel"], &[type="text"], &[type="time"], &[type="url"] {
      -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      border-bottom-color: currentcolor;
      border-bottom-style: none;
      border-bottom-width: medium;
      border-bottom: 1px solid #000 !important;
      -webkit-border-radius: 0;
      border-radius: 0;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      background-color: transparent;
    }
  }
  textarea.md-textarea {
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #000 !important;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
  }
}

.modal-dialog {
  max-width: 700px !important;
  margin: 1.75rem auto;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.675rem 1.3rem !important;
  font-size: 0.9rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.logoF {
  background: -webkit-linear-gradient(50deg,#45cafc,#303f9f) !important;
  background: -o-linear-gradient(50deg,#45cafc,#303f9f) !important;
  background: linear-gradient(to right, $blue 0%, lightgrey 60%, $blue 100%) !important;;
  transition: 1.2s !important;
  background-size: 300% auto !important;
  color: white !important;
  &.login-register {
    display: inline;
    width: 50%;
  }
}

.logoF:hover {
  background-position: right center !important;
}

.section-contact {
  padding-top: 3%;
  padding-bottom: 3%;
}

.parallax {
  background-image: url("../assets/parallax2.jpg");
  min-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-parallax {
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 7%;
  font-size: 20px;
}

.h-parallax {
  font-size: 60px;
  font-weight: bold;
}

.btn-inscrire  {
  padding: 1% 4% !important;
  font-size: 20px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
}

/*
section img effect
*/

*, *:after, *:before {
  -webkit-box-sizing: border-box; box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.related a h3 {
  margin: 0;
  padding: 0.5em 0 0.3em;
  max-width: 300px;
  text-align: left;
}

@media screen and (max-width: 25em) {
  .codrops-header {
    font-size: 75%;
  }
  .codrops-icon span {
    display: none;
  }
}

.grid {
  overflow: hidden;
  margin: 0;
  padding: 3em 0 3em 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  margin: -0.135em;
  height: 400px;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;

  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

figure.effect-layla {
  background: #505050;
}

figure.effect-layla img {
  min-width: 100%;
  height: -webkit-calc(100% + 40px);
  height: calc(100% + 40px);
}

figure.effect-layla figcaption {
  padding: 3em;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
  position: absolute;
  content: '';
  opacity: 0;
}

figure.effect-layla figcaption::before {
  top: 50px;
  right: 30px;
  bottom: 50px;
  left: 30px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
  top: 30px;
  right: 50px;
  bottom: 30px;
  left: 50px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1,0);
  transform: scale(1,0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

figure.effect-layla h2 {
  padding-top: 26%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-layla p {
  padding: 0.5em 2em;
  text-transform: none;
  opacity: 0;
  -webkit-transform: translate3d(0,-10px,0);
  transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla h2 {
  -webkit-transform: translate3d(0,-30px,0);
  transform: translate3d(0,-30px,0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
  opacity: 0.7;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
/*
End section img effect
*/

.text-section-effect {
  padding-top: 11%;
}

.title-effect {
  font-size: 40px;
  padding-bottom: 2%;
}

h1.title-effect {
  animation-duration: 4s;
  animation-name: slidein;
  animation-direction: alternate;
}
@keyframes slidein {
  from {
    margin-left: 150%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*test*/
.intro {
  justify-content: center;
  align-items: center;
  -webkit-transition: 4s all ease-in-out;
  transition: 4s all ease-in-out;
  animation-iteration-count: infinite;
}

.intro b {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  animation-iteration-count: infinite;
}

.intro b:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.intro b:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.intro b:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.intro b:nth-child(4) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.intro b:nth-child(5) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.intro b:nth-child(6) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.intro b:nth-child(7) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.intro b:nth-child(8) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.intro b:nth-child(9) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.intro b:nth-child(10) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.intro b:nth-child(11) {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.intro b:nth-child(12) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.intro b:nth-child(13) {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.intro b:nth-child(14) {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

/* effet sweep left bouton contact ! content.. */
.hvr-effect {
  display:inline-block;
  vertical-align:middle;
  -webkit-transform:translatez(0);
  transform:translatez(0);
  box-shadow:0 0 1px rgba(0,0,0,0);
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -moz-osx-font-smoothing:grayscale;
  position:relative;
  -webkit-transition-property:color;
  transition-property:color;
  -webkit-transition-duration:0.3s;
  transition-duration:0.3s;
  background-color: rgba(255, 255, 255, 0.17);
  padding:20px 20px 20px 20px !important;
  text-decoration: none;
  color: #000000 !important;
  font-size: 16px !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 5px !important;
  border: solid 1px #616161 !important;
}

.hvr-effect:before {
  content: "";
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: $blue;
  -webkit-transform:scalex(0);
  transform:scalex(0);
  -webkit-transform-origin:0 50%;
  transform-origin:0 50%;
  -webkit-transition-property:transform;
  transition-property:transform;
  -webkit-transition-duration:0.3s;
  transition-duration:0.3s;
  -webkit-transition-timing-function:ease-out;
  transition-timing-function:ease-out;
}

.hvr-effect:hover:before,
.hvr-effect:focus:before,
.hvr-effect:active:before {
  -webkit-transform: scalex(1);
  transform:scalex(1);
}
.hvr-effect:hover,
.hvr-effect:focus,
.hvr-effect:active {
  color: white !important;
}
.marg-bouton-contact {
  margin-top: 8% !important;
}

.test2 {
  display: block;
  margin : auto;
}

.tooltip {
  opacity:1 !important;
}