// Variables
@import '_custom-variables.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import url('https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.13/css/mdb.min.css');

@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

// Custom fonts for the editor
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans|Lato|Open+Sans|Open+Sans+Condensed:300|Patrick+Hand|Roboto+Condensed|Slabo+27px|VT323|Nunito');

// Custom styles must be called AFTER everything else
// so we can override !
@import '_custom-styles.scss';