<template>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Associer une règle à ce groupe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form-wizard
                        ref="rulesForm"
                        title=""
                        subtitle=""
                        color="rgba(63, 81, 181)"
                        next-button-text="Suivant"
                        back-button-text="Précédent"
                        finish-button-text="Ajouter la règle"
                        @on-change="onStepChange">
                    <tab-content title="Règle" class="text-center">
                        <div class="card d-inline-block mr-2" style="width: 16rem;">
                            <div class="card-img-top rule-icon rule-seat"></div>
                            <div class="card-body">
                                <h5 class="card-title">Contrainte de position</h5>
                                <p class="card-text">Les membres de ce groupe ne seront pas positionnés aux places
                                    désignées</p>
                                <div @click="chooseRuleType('no-seats')" class="btn btn-primary">Sélectionner</div>
                            </div>
                        </div>

                        <div class="card d-inline-block" style="width: 16rem;">
                            <div class="card-img-top rule-icon rule-proximity"></div>
                            <div class="card-body">
                                <h5 class="card-title">Contrainte de proximité</h5>
                                <p class="card-text">Les membres de ce groupe ne seront pas positionnés à coté les uns
                                    des autres</p>
                                <div @click="chooseRuleType('no-proximity')" class="btn btn-primary">Sélectionner</div>
                            </div>
                        </div>
                    </tab-content>
                    <tab-content title="Paramètres">
                        <div v-if="ruleType === 'no-seats'">
                            <p>Sélectionnez les places qui ne seront pas assignées à ce groupe</p>
                            <div v-html="svg"></div>
                        </div>
                    </tab-content>
                </form-wizard>
            </div>
        </div>
    </div>
</template>

<script>
    import 'vue-form-wizard/dist/vue-form-wizard.min.css'
    import {FormWizard, TabContent} from 'vue-form-wizard'

    export default {
        components: {
            FormWizard,
            TabContent
        },
        data() {
            return {
                ruleType: null,
                svg: null,
                forbiddenSeats: []
            };
        },
        watch: {
            forbiddenSeats: newVal => {
                const nextButton = document.querySelector('.wizard-footer-right');
                if(newVal.length) {
                    nextButton.style.display = "block";
                }
                else {
                    nextButton.style.display = "none";
                }
            }
        },
        methods: {
            chooseRuleType(ruleType) {
                this.ruleType = ruleType;
                this.$refs.rulesForm.nextTab()
            },
            onStepChange(prevIndex, nextIndex) {
                if (this.ruleType === "no-seats" && nextIndex === 1) {
                    this.svg = this.$store.state.canvas.getSvg();

                    setTimeout(_ => {
                        const modalContent = document.querySelector('#rulesModal .modal-content');
                        const svgElement = document.querySelector('svg');

                        const modalWidth = modalContent.offsetWidth;
                        const svgWidth = svgElement.width.baseVal.value;
                        const svgHeight = svgElement.height.baseVal.value;
                        const svgRatio = modalWidth / svgWidth;

                        svgElement.style.width = '100%';
                        svgElement.style.height = svgHeight * svgRatio;

                        document.querySelectorAll('circle').forEach(circle => {
                            this.setupSeatEvents(circle);
                        })
                    }, 0);
                }
            },
            setupSeatEvents(circle) {
                let originalFill;
                const circleContainer = circle.parentNode.parentNode;
                circleContainer.style.cursor = "pointer";
                circleContainer.onmouseover = e => {
                    originalFill = circle.style.fill;
                    circle.style.fill = 'rgba(255,0,0, 0.8)'
                };
                circleContainer.onmouseout = e => {
                    circle.style.fill = originalFill
                };
                circleContainer.onclick = e => {
                    const seatNumber = circleContainer.querySelector('tspan').textContent;
                    this.forbiddenSeats.push(seatNumber);
                    circle.style.fill = 'red';
                    circleContainer.querySelector('text').style.fill = '#fff';
                    circleContainer.onmouseover = null;
                    circleContainer.onmouseout = null;
                    circleContainer.onclick = e => {
                        this.forbiddenSeats.splice(this.forbiddenSeats.indexOf(seatNumber), 1);
                        circle.style.fill = originalFill;
                        circleContainer.querySelector('text').style.fill = '#000';
                        this.setupSeatEvents(circle);
                    }
                };
            }
        }
    }
</script>

<style lang="scss">
    .vue-form-wizard .wizard-header {
        display: none;
    }

    .vue-form-wizard.md .wizard-icon-circle {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .vue-form-wizard.md .wizard-nav-pills > li.active > a .wizard-icon {
        font-size: 19px;
    }

    .vue-form-wizard.md .wizard-navigation .wizard-progress-with-circle {
        top: 20px;
        height: 2px;
    }

    .rule-icon {
        width: 100%;
        height: 180px;
        background-position: center center;
        background-color: rgba(63, 81, 181, 0.2);
        background-repeat: no-repeat;

        &.rule-seat {
            background-image: url('img/rule-forbid-seats.png');
        }

        &.rule-proximity {
            background-image: url('img/rule-forbid-proximity.png');
        }
    }

    .wizard-footer-right {
        display: none;
    }

</style>