<template>
    <button type="button" class="btn btn-light"
            :disabled="!hasActiveSelection"
            v-on:click="remove"
            data-toggle="tooltip"
            title="Supprimer">
        <i class="fa fa-trash"></i>
    </button>
</template>


<script>
    import {CANVAS_ADD_EVENTS, CANVAS_SAVE} from "../../../../store/mutation-types";

    import hotkeys from 'hotkeys-js';

    export default {
        data() {
            return {
                hasActiveSelection: false
            }
        },
        computed: {
            canvas() {
                return this.$store.state.canvas
            }
        },
        mounted() {
            let preventDefault = (e, then) => {
                // Prevent the default refresh event under WINDOWS system
                e.preventDefault();
                then();
            };

            // Keyboard Shortcuts
            hotkeys("backspace, delete", e => preventDefault(e, this.remove));

            this.$store.commit(CANVAS_ADD_EVENTS, {
                'selection:created': () => {
                    this.hasActiveSelection = true;
                },
                'selection:cleared': () => {
                    this.hasActiveSelection = false;
                }
            });
        },
        methods: {
            remove() {
                if(this.canvas) {
                    this.canvas.removeActiveObject();
                    this.$store.commit(CANVAS_SAVE);
                }
            }
        },
    }
</script>