<template>
    <div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Sélectionnez un groupe </span>
            </div>
            <select id="Groupe_select" class="form-control" name="group_id" autofocus v-model="selectedGroup">
                <option selected name="group_selected" v-for="(seatersGroup, i) in seaterGroups" :key="i" :value="seatersGroup.id">{{seatersGroup.name}}</option>
            </select>
        </div>
        <!-- liste des seaters et leur numéros -->
        
        <div class="row justify-content-center">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Numéro</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(seater, i) in seaters" :key="i">
                            <td>{{ i+1 }}</td>
                            <td scope="row">{{ seater.firstname }}</td>
                            <td scope="row">{{ seater.lastname }}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        seatersInit : Array,
        seaterGroups : Array,
        groupId: {
            type:String,
            default: null
        }
    },
    data() {
        console.log(this.groupId)
        return {
            selectedGroup : this.groupId,
            seaters : []
        }
    },
    watch: {
        selectedGroup(newSelectedGroup) {
            fetch('json/seaters-by-group/'+newSelectedGroup)
                .then((response) => {
                    let seaters = response.json().then( seaters => {
                        this.seaters = seaters;
                    });
                })
        }
    }
}
</script>