<template>
    <fragment>
        <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">Zone de dessin</div>
        </div>
        <input type="text"
               class="form-control"
               placeholder=""
               aria-label="Taille de zone de dessin"
               aria-describedby="btnGroupAddon"
               v-model="canvasSize"
               style="width: 100px;height:49px;">
    </fragment>
</template>


<script>
    import Fragment from 'vue-fragment';

    Vue.use(Fragment.Plugin);

    export default {
        data() {
            return {
                canvasSize: '',
            }
        },
        computed: {
            canvas() {
                return this.$store.state.canvas
            }
        },
        watch: {
            canvasSize(newValue) {
                let newCanvasSize = newValue.split('x');
                this.canvas.updateDimensions(newCanvasSize[0], newCanvasSize[1]);
            }
        },
        mounted() {
            let canvasElement = document.querySelector('#c');
            let detectedWidth = Math.max(window.innerWidth * 0.88, 1000);

            canvasElement.width = detectedWidth;
            canvasElement.height = (detectedWidth * 0.5);

            this.canvasSize = canvasElement.width + "x" + canvasElement.height;
        },
    }
</script>