<template>
    <fragment>
        <label class="btn btn-light"
               data-toggle="tooltip"
               :title="tooltip">
            <input type="radio"
                   name="forme"
                   :value="inputValue"
                   autocomplete="off"
                   @change="onInputChange"> <i :class="iconClass"></i>
        </label>

        <div class="input-group-append mr-2" v-show="isActive">
            <div class="input-group-text">{{ title }}</div>
        </div>
    </fragment>
</template>

<script>
    import Fragment from 'vue-fragment';
    Vue.use(Fragment.Plugin);

    import {SELECT_NEW_TOOL} from '../../../../../store/mutation-types'

    export default {
        props: {
            inputValue: String,
            checkedOnLoad: {
                type: Boolean,
                default: false
            },
            title: String,
            tooltip: String,
            iconClass: String,
            shapeClass: {
                type: Function,
                default: null
            }
        },
        data() {
            return {
                inputModel: false
            }
        },
        computed: {
            isActive() {
                return this.$store.state.selectedTool === this.inputValue
            }
        },
        methods: {
            onInputChange(e) {
                let tool = e.target.value;
                let shapeClass = this.shapeClass;

                this.$store.commit(SELECT_NEW_TOOL, {tool, shapeClass})
            }
        }
    }
</script>