<template>
    <div class="app">
        <h3>Importation des éleves depuis un fichier</h3>
        <br>
        <xls-csv-parser :columns="columns" @on-validate="onValidate" :help="help" lang="fr"></xls-csv-parser>
        <br><br>
        <div class="results" v-if="results">
            <h3>Elements trouvés:</h3>
            <!--<div v-for="seater in results">-->
            <!--{{ seater.value }}-->
            <!--</div>-->
            <div class="card seat" v-for="(seater, i) in results">
                <div class="card-body">
                    <h5 data-v-b772bf52="" class="card-title">
                        <p>{{ results[1].data[i] }}</p>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <p>{{ results[2].data[i] }}</p>
                        <p>{{ results[3].data[i] }}</p>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {XlsCsvParser} from 'vue-xls-csv-parser';

    export default {
        components: {
            XlsCsvParser,
        },
        data() {
            return {
                columns: [
                    {name: 'Prénom', value: 'firstname'},
                    {name: 'Nom', value: 'lastname'},
                    {name: 'Email', value: 'email'},
                    {name: 'Non utilisé', value: 'unused', isOptional: true},
                ],
                results: null,
                help: 'Les colonnes nécessaires sont Prénom, Nom, et Email',
            };
        },
        watch: {
            results(newValue) {
                let dataStudent = [];
                // Standardiser le format retournée par ce composant
                // on veut un format type [{firstname, lastname, email}]
                newValue.forEach((value, i) => {
                    dataStudent.push(
                        {
                            firstname: newValue[1].data[i],
                            lastname: newValue[2].data[i],
                            email: newValue[3].data[i]
                        }
                    )
                });

                this.$emit('seaters-imports-results-changed', dataStudent)
            }
        },
        methods: {
            onValidate(results) {
                console.log(results);
                this.results = results;
            },
        },
    };
</script>


<style lang="scss" scoped>
    .seat {
        display: inline-block;
        position: relative;
    }
</style>
